.cards {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.cards__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin: 0;
  padding: 20px 0 36px 0;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  gap: 40px 20px;
}

@media screen and (max-width: 627px) {
  .cards__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }
}
@media screen and (max-width: 320px) {
  .cards__list {
    display: flex;
    flex-direction: column;
  }
}
