.footer {
  background-color: #fcf5e5;
  max-width: 1280px;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  text-align: center;
}

.footer__content {
  font-family: "Poppins", "noto-sans", sans-serif;
  color: rgba(33, 33, 33, 70%);
  padding: 60px 668px;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  margin: 0%;
  width: 104px;
  height: 16px;
}

@media screen and (max-width: 627px) {
  .footer {
    padding: 60px 108px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    text-align: center;
  }

  .footer__content {
    padding: 0;
    text-align: center;
    width: 104px;
    height: 16px;
    font-family: "Poppins", "noto-sans", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
  }
}
