.profile {
  display: flex;
  max-width: 1280px;
  border-bottom: 1px rgba(33, 33, 33, 0.4) solid;
  margin-top: 34px;
  justify: space-between;
}

.profile__avatar {
  object-fit: cover;
  border-radius: 8px;
  width: 190px;
  height: 190px;
  margin: 0 20px 20px 0;
}

.profile__name {
  margin: 0 0 13px;
  font-family: "Poppins", "noto-sans", sans-serif;
  color: #212121;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  margin: 0;
  font-family: "Poppins", "noto-sans", sans-serif;
  line-height: 1;
  font-weight: bold;
  color: rgba(33, 33, 33, 70%);
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__edit-btn {
  color: #212121;
  font-family: "Poppins", "noto-sans", sans-serif;
  border: none;
  background-color: #fcf5e5;
  cursor: pointer;
  width: 107px;
  height: 16px;
  gap: 8px;
  border-radius: 90px 0px 0px 0px;
  padding: 18px 0 20px 0;
}

.profile__edit-btn:hover {
  opacity: 1;
}

.profile__add-btn {
  background-color: #000;
  color: #fcf5e5;
  font-family: "Poppins", "noto-sans", sans-serif;
  line-height: 1;
  font-size: 18px;
  border: none;
  align-self: flex-end;
  font-size: 16px;
  font-weight: 500;
  line-height: 1;
  margin-left: auto;
  margin-bottom: 20px;
  cursor: pointer;
  height: 52px;
  padding: 18px 32px 18px 32px;
  gap: 8px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.profile__add-btn:hover {
  opacity: 80%;
}

.profile__pencil {
  height: 13px;
  margin-right: 8px;
}

.profile__add-icon {
  margin-right: 8px;
  justify-content: center;
  height: 12px;
}

@media screen and (max-width: 627px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px 0;
  }

  .profile__edit-btn {
    margin-bottom: 20px;
  }

  .profile__add-btn {
    margin: auto;
  }
}

@media screen and (max-width: 320px) {
  .profile__add-btn {
    align-self: center;
    width: 100%;
  }

  .profile__edit-btn {
    padding: 0%;
    margin: 32px 0 20px;
  }

  .profile__name {
    -webkit-line-clamp: 1;
    white-space: nowrap;
    max-width: 260px;
  }

  .profile__description {
    -webkit-line-clamp: 1;
    max-width: 98px;
    margin: 0 auto;
    white-space: nowrap;
  }
}
