.header {
  background-color: #fff;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  margin: 0;
}

.header__logo {
  width: 94px;
  height: 26px;
}

@media screen and (max-width: 627px) {
  .header {
    padding: 12px 0;
  }

  .header__logo {
    width: 70px;
    height: 20px;
  }
}
