/* Keyframes for fade-in and fade-out animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", "noto-sans", sans-serif;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s;
}

.modal.modal_opened {
  visibility: visible;
  opacity: 1;
  transition: visibility 0s linear 0s, opacity 0.3s;
  animation: fadeIn 0.3s ease-in;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  width: 100%;
  position: relative;
  box-sizing: border-box;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.modal__container_preview {
  padding: 0%;
  margin: 0%;
}

.modal__image_preview {
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
  max-height: 80vh;
}

.modal__caption {
  position: fixed;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.modal__caption_preview {
  position: absolute;
  left: 0;
  top: calc(100% + 10px);
  font-size: 20px;
  color: white;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
}

.modal__error {
  display: block;
  color: rgba(255, 0, 0, 0.7);
  width: 630px;
  height: 18px;
  font-family: "Poppins", "noto-sans", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 110%;
  margin-bottom: 32px;
}

.modal__error_visible {
  display: block;
}
.modal__buttons {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 156px;
  height: 52px;
  margin-top: 20px;
}

.modal__submit-btn-delete {
  background: rgba(255, 51, 51, 1);
  flex: 1;
  padding: 18px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  border: none;
}

.modal__cancel-btn {
  background-color: black;
  color: white;
  flex: 1;
  padding: 18px 0;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  border-radius: 8px;
  border: none;
}
.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  background-image: url(../images/Group\ 27.svg);
  background-color: #fff;
  border: none;
  opacity: 40%;
  cursor: pointer;
}

.modal__close-btn_preview {
  background-image: url(../images/close\ icon.svg);
  top: 0%;
  right: -48px;
  opacity: 1;
  background-color: transparent;
}

.modal__close-btn:hover {
  opacity: 1;
}

.modal__title {
  margin: 0 0 32px;
  font-size: 32px;
  font-weight: 500;
  line-height: 32px;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  font-family: "Poppins", "noto-sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: rgba(33, 33, 33, 0.7);
}

.modal__input {
  padding: 18px 12px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 500;
  border-radius: 8px;
  border: 1px solid;
  opacity: 0.5;
  border-color: rgba(33, 33, 33, 0.4);
}

.modal__input:hover {
  opacity: 1;
}

.modal__input_type_error {
  border-color: rgba(255, 0, 0, 0.7);
}

.modal__input_type_error:hover {
  border-color: rgba(255, 0, 0, 0.7);
  opacity: 1;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
}

.modal__submit-btn:hover {
  background-color: rgba(33, 33, 33, 0.8);
}

.modal__submit-btn_disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.modal__cancel-btn {
  width: 156px;
  padding: 18px 0;
  background-color: rgba(33, 33, 33, 1);
  color: #fff;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  gap: 8px;
  padding: 18px, 32px;

  border-width: 1px;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__container_preview {
    background-color: transparent;
    padding: 0%;
    margin: 0%;
  }

  .modal__title {
    margin: 4px 0 34px;
    font-size: 20px;
  }

  .modal__caption_preview {
    padding: 10px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__close-btn_preview {
    top: -45px;
    right: -10px;
  }

  .modal__input {
    font-size: 16px;
  }

  .m .modal__label {
    font-size: 16px;
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }
}

@media screen and (max-width: 320px) {
  .modal {
    background: rgba(0, 0, 0, 0.9);
  }

  .modal__container_preview {
    background-color: transparent;
    padding: 0%;
    margin: 0%;
  }

  .modal__image_preview {
    width: 287px;
    height: 426px;
    left: 6px;
    border-radius: 8px;
    position: relative;
  }

  .modal__caption_preview {
    font-size: 16px;
    width: 111;
    height: 27;
    top: 440px;
    left: 5px;
    padding: 10px;
  }

  .modal__close-btn_preview {
    width: 40;
    height: 40;
    left: 255px;
  }

  .modal__close-btn {
    width: 40px;
    height: 40px;
    position: absolute;
    border: none;
    background-color: transparent;
    cursor: pointer;
    z-index: 1;
    right: 3px;
  }
}
